{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-xl-8 col-lg-7">
        <div class="card shadow mb-4">
            <div class="card-header">
                <strong>Change password</strong>
            </div>
            <form method="post" action="">
                <div class="card-body">
                    {% csrf_token %}
                    {{form|crispy}}
                </div>
                <div class="card-footer">
                    <div class="float-right">
                        <input class="btn btn-primary btn-sm" type="submit" value="Update" />
                        <input type="hidden" name="next" value="{{ next }}" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}