{% extends 'base.html' %}

{% block content %}

<div class="row">
  <div class="col-sm-12 mt-3">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page"><a href="{% url 'store:product_view' %}">Products</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{title|title}}</li>
      </ol>
    </nav>
  </div>
</div>
  
  <div class="row">
      <div class="col-sm-6">
          <div class="card border-0 shadow-sm mt-3">
                <div class="card-header">
                    <strong>Products</strong>
                    <!-- <a href="" class="btn btn-outline-primary btn-sm float-end border-0 shadow-sm" data-bs-toggle="modal" data-bs-target="#addProduct">Add product</a> -->
                </div>
                <form method="POST" enctype="multipart/form-data">
                  {% csrf_token %}
                <div class="card-body">
                    <div class="input-group mb-2">
                        <input id="barcode" type="text" class="form-control" placeholder="Barcode" aria-label="bar code" aria-describedby="button-addon2" name="barcode" required>
                        <a href="" class="btn btn-outline-secondary btn-sm" id="button-addon2" data-bs-toggle="modal" data-bs-target="#barcodeScanner"><i class="fa-solid fa-barcode"></i> Scan</a>
                    </div>
                    {{form.name}}
                    {{form.cost}}
                    {{form.price}}
                    {{form.quantity}}
                    {{form.category}}
                    {{form.image}}
                </div>
                <div class="card-footer">
                    <input type="submit" class="btn btn-outline-primary btn-sm" value="Add Product">
                </div>
                </form>
          </div>
      </div>
  </div>

  <div class="modal fade" id="barcodeScanner" tabindex="-1" aria-labelledby="barcodeScannerLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="barcodeScannerLabel">Scan code</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="" method="POST">
        {% csrf_token %}
        <div class="modal-body">
          <div id="qr-reader" style="width: auto"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary border-0 shadow-sm" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-outline-primary border-0 shadow-sm">Request</button>
        </div>
        </form>
      </div>
    </div>
  </div>

{% endblock %}

{% block script %}

<script>
  function onScanSuccess(decodedText, decodedResult) {
      // console.log('working')
      console.log(`Code scanned = ${decodedText}`, decodedResult);
      document.getElementById('barcode').value = `${decodedText}`, decodedResult
  }
  var html5QrcodeScanner = new Html5QrcodeScanner(
      "qr-reader", { fps: 10, qrbox: 250 });
  html5QrcodeScanner.render(onScanSuccess);
</script>

{% endblock %}