{% extends 'base.html' %}

{% block content %}
{% if messages %}
  {% include 'includes/messages.html' %}
{% endif %}
<div class="row">
    <div class="col-sm-12 mt-3">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item" aria-current="page"><a href="{% url 'store:customer_view' %}">Customers</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{title|title}}</li>
        </ol>
      </nav>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="card border-0 shadow-sm mt-3">
            <div class="card-header">
                <strong>{{title|title}}</strong>
                <a href="" class="btn btn-outline-primary btn-sm border-0 shadow-sm float-end" data-bs-toggle="modal" data-bs-target="#updateCustomer">Edit</a>
            </div>
            <div class="card-body">
                <h3>{{ customer.name|title }}</h3>
                <strong>Unpaid balance: PHP {% if total_unpaid_orders %}{{ total_unpaid_orders }}{% else %}0.0{% endif %}</strong>
                {% if unpaid_orders %}
                <div class="card border-0 mt-3">
                    <div class="card-header">
                        <strong>Order details</strong>
                    </div>
                    <div class="card-body">
                        
                        <table class="table table-sm" id="myTable">
                            <thead>
                                <tr>
                                    <th>Order number</th>
                                    <th>Date</th>
                                    <th>Particulars</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                    <th>Status</th>
                                    <th>Pay</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in unpaid_orders %}
                                <tr>
                                    <td>{{ item.order_id }}</td>
                                    <td>{{ item.created|date }}</td>
                                    <td>{{ item.product.name }}</td>
                                    <td>{{ item.price }}</td>
                                    <td>{{ item.quantity }}</td>
                                    <td>{{ item.get_cost }}</td>
                                    <td>
                                      {% if item.is_paid %}
                                      Paid
                                      {% else %}
                                      Unpaid
                                      {% endif %}

                                    </td>
                                    <td>
                                      <form action="{% url 'store:pay_order' item.order_id %}" method="POST">
                                        {% csrf_token %}
                                        <input type="submit" value="Pay">
                                      </form>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-outline-primary border-0 shadow-sm float-end" data-bs-toggle="modal" data-bs-target="#payBalance"><i class="fa-regular fa-money-bill-1"></i> Pay all</a>
                        <h3>Balance: PHP {% if total_unpaid_orders %}{{ total_unpaid_orders }}{% else %}0.0{% endif %}</h3>
                        
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="payBalance" tabindex="-1" aria-labelledby="payBalanceLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="payBalanceLabel">Pay balance</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="{% url 'store:pay_balance' customer.customer_id %}" method="POST">
        {% csrf_token %}
        <div class="modal-body">
            Pay <strong>{{customer.name|title}}</strong> balance of <strong>PHP {{ total_unpaid_orders }}</strong>.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary border-0 shadow-sm" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-outline-primary border-0 shadow-sm">Pay</button>
        </div>
        </form>
      </div>
    </div>
</div>

<div class="modal fade" id="updateCustomer" tabindex="-1" aria-labelledby="updateCustomerLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="updateCustomerLabel">Add customer</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="{% url 'store:update_customer' customer.customer_id %}" method="POST">
        {% csrf_token %}
        <div class="modal-body">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" name="name" id="floatingInput" placeholder="Name" value="{{customer.name}}">
                <label for="floatingInput">Name</label>
            </div>
            <div class="form-floating">
                <input type="text" class="form-control" name="contact" id="floatingContact" placeholder="Contact" value="{{customer.contact}}">
                <label for="floatingContact">Contact</label>
            </div>
            <div class="form-check mt-2">
                <input class="form-check-input" name="isactive" type="checkbox" value="" id="flexCheckChecked" {% if customer.is_active %}checked{% else %}{% endif %}>
                <label class="form-check-label" for="flexCheckChecked">
                  Is active
                </label>
            </div>
            <!-- <input type="checkbox" class="form-control" name="contact" placeholder="Contact" value="{{customer.is_active}}"> -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary btn-sm border-0 shadow-sm" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-outline-primary btn-sm border-0 shadow-sm">Update</button>
        </div>
        </form>
      </div>
    </div>
</div>
{% endblock %}