{% extends 'base.html' %}

{% block content %}
{% if messages %}
  {% include 'includes/messages.html' %}
{% endif %}
<div class="row">
    <div class="col-sm-12">
        <div class="card border-0 shadow-sm mt-3">
            <div class="card-header">
                <strong>Stock request</strong>
            </div>
            <div class="card-body">
                <table class="table table-sm" id="myTable">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>
                                Product name
                            </th>
                            <th>Note</th>
                            <th>
                                status
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for note in item_request %}
                        <tr>
                            <td>{{ note.created|date }}</td>
                            <td>
                                {{note.item_name|title}} <br>
                                <small class="text-muted">by {{note.request_by.username|title}}</small>
                            </td>
                            <td>{{ note.message|title }}</td>
                            <td>
                                {% if note.is_noted %}
                                Noted
                                {% else %}
                                    {% if perms.store.update_itemrequest %}
                                    <form action="{% url 'store:request_status_update' note.pk %}" method="POST">
                                        {% csrf_token %}
                                        <input type="submit" class="btn btn-outline-primary btn-sm" value="Accept">
                                    </form>
                                    {% else %}
                                    Requested
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}