{% extends 'base.html' %}

{% block content %}
{% if messages %}
  {% include 'includes/messages.html' %}
{% endif %}
<div class="row">
    <div class="col-sm-3">
        <div class="card border-0 shadow-sm mt-3">
            <div class="card-body">
                <strong>Remaining Balance:</strong>
                <h2>PHP {{ balance }}</h2>
            </div>
        </div>
    </div>
    <div class="col-sm-9">
        <div class="card border-0 shadow-sm mt-3">
            <div class="card-header">
                <strong>Orders</strong>
            </div>
            <div class="card-body">
                <table class="table table-sm" id="myTable">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>
                                Particulars
                            </th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total cost</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                        <tr>
                            <td>{{ order.created|date }}</td>
                            <td>
                                {{order.product.name|title}} <br>
                                <small class="text-muted">by {{order.customer.username|title}}</small>
                            </td>
                            <td>PHP {{order.price}}</td>
                            <td>{{order.quantity}}</td>
                            <td>
                                PHP {{ order.get_cost }} <br>
                                <small class="text-muted">
                                    {% if not order.is_paid %}
                                    Unpaid
                                    {% else %}
                                    Paid
                                    {% endif %}
                                    | Balance: {{ order.balance }}
                                </small>
                            </td>
                            <td>
                                
                                {% if order.is_accepted %}
                                <small class="text-muted">Order Accepted</small>
                                {% else %}
                                    {% if perms.store.update_ordertransaction %}
                                        <form action="{% url 'store:accept_order' order.order_id %}" method="POST">
                                            {% csrf_token %}
                                            <input type="submit" class="btn btn-outline-primary btn-sm" value="Accept">
                                        </form>
                                    {% endif %}
                                    <small class="text-muted">Order Unaccepted</small>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}