{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <div class="card border-0 shadow-sm mt-3">
            <div class="card-header">
                <strong>Orders</strong>
            </div>
            <div class="card-body">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th>Particulars</th>
                            <th>Order by</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total cost</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                        <tr>
                            <td>{{order.product.name|title}}</td>
                            <td>
                                <a href="{% url 'store:customer_details' order.customer.pk %}">{{order.customer.name|title}}</a></td>
                            <td>PHP {{order.price}}</td>
                            <td>{{order.quantity}}</td>
                            <td>
                                PHP {{ order.get_cost }} <br>
                                <small class="text-muted">
                                    {% if not order.is_paid %}
                                    Unpaid
                                    {% else %}
                                    Paid
                                    {% endif %}
                                    | Balance: {{ order.balance }}
                                </small>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}