{% extends 'base.html' %}


{% block content %}
<div class="row">
    <div class="col-sm-3">
        <div class="card border-0 shadow-sm mt-3">
            <div class="card-header">
                <strong>Product Categories</strong>
                <a href="" class="btn btn-outline-info btn-sm float-end border-0 shadow-sm" data-bs-toggle="modal" data-bs-target="#addCategory"><i class="fa-solid fa-plus"></i></a>
            </div>
            <div class="card-body">
                {% for cat in categories %}
                  {{cat}} <br>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-sm-9">
        <div class="card border-0 shadow-sm mt-3">
            <div class="card-header">
                <strong>Products</strong>
                <a href="" class="btn btn-outline-info btn-sm float-end border-0 shadow-sm" data-bs-toggle="modal" data-bs-target="#addProduct">Add product</a>
            </div>
            <div class="card-body">
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    {% for product in products %}
                    <div class="col">
                      <div class="card">
                        <!-- <img src="..." class="card-img-top" alt="..."> -->
                        <div class="card-body">
                          <h5 class="card-title">{{ product.name|title }}</h5>
                          <div class="row">
                            <div class="col-sm-6">
                                <div class="card border-primary">
                                    <div class="card-body p-1">
                                        <small>On stock:</small><br>
                                        <strong>{{ product.quantity }}</strong>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="card border-info">
                                    <div class="card-body p-1">
                                        <small>Price:</small><br>
                                        <strong>PHP {{ product.price }}</strong>
                                    </div>
                                </div>
                            </div>
                          </div>
                          {% if not product.quantity %}
                          <small class="text-muted">Out of stock, stocking soon!</small>
                          {% endif %}
                        </div>
                        <div class="card-footer pt-1 pb-1">
                            {% if product.quantity %}
                            <a href="{% url 'store:delete_product' product.pk %}" class="btn btn-outline-secondary btn-sm border-0 shadow-sm"><i class="fa-solid fa-trash-can"></i></a>
                            <a href="{% url 'store:delete_product' product.pk %}" class="btn btn-outline-secondary btn-sm border-0 shadow-sm"><i class="fa-solid fa-pen-to-square"></i></a>
                            <a href="{% url 'store:add_order' product.pk %}" class="btn btn-outline-info btn-sm float-end border-0 shadow-sm">Add to <i class="fa-solid fa-cart-plus"></i></a>
                            {% else %}
                            <div>
                                <a href="{% url 'store:delete_product' product.pk %}" class="btn btn-outline-secondary btn-sm border-0 shadow-sm"><i class="fa-solid fa-trash-can"></i></a>
                                <a href="{% url 'store:add_order' product.pk %}" class="btn btn-outline-info btn-sm border-0 shadow-sm">Request</a>
                            </div>
                            {% endif %}
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

  
  <!-- Modal -->
<div class="modal fade" id="addProduct" tabindex="-1" aria-labelledby="addProductLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="addProductLabel">Add product</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="" method="POST">
        {% csrf_token %}
        <div class="modal-body">
            {{form.as_p}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary border-0 shadow-sm" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-outline-primary border-0 shadow-sm">Add product</button>
        </div>
        </form>
      </div>
    </div>
</div>

<div class="modal fade" id="addCategory" tabindex="-1" aria-labelledby="addCategoryLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="addCategoryLabel">Add category</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="{% url 'store:add_category' %}" method="POST">
        {% csrf_token %}
        <div class="modal-body">
            <input type="text" class="form-control" name="categoryName" placeholder="Category name">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary border-0 shadow-sm" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-outline-primary border-0 shadow-sm">Add category</button>
        </div>
        </form>
      </div>
    </div>
</div>
{% endblock %}