{% extends 'base.html' %}


{% block content %}
{% if messages %}
  {% include 'includes/messages.html' %}
{% endif %}
<div class="row">
  <div class="col-sm-12 mt-3">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Products</li>
      </ol>
    </nav>
  </div>
</div>

<div class="row">
    <div class="col-sm-3">
        <div class="card border-0 shadow-sm mt-3">
            <div class="card-header">
                <strong>Product Categories</strong>
                {% if perms.store.add_category %}
                <a class="btn btn-outline-primary btn-sm float-end border-0 shadow-sm" data-bs-toggle="modal" data-bs-target="#addCategory"><i class="fa-solid fa-plus"></i></a>
                {% endif %}
            </div>
            <div class="card-body">
              <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  <a href="{% url 'store:product_view' %}">All products</a>
                </li>
                {% for cat in categories %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  <a href="{% url 'store:product_view' %}?q={{cat}}">{{cat|title}}</a>
                  <span class="badge bg-info squared-pill">{{cat.count}}</span>
                </li>
                {% endfor %}
              </ul>
            </div>
        </div>
        <div class="card border-0 shadow-sm mt-3">
          <div class="card-header">
              <strong>Product request</strong>
              <a class="btn btn-outline-info btn-sm border-0 shadow-sm float-end" data-bs-toggle="modal" data-bs-target="#requestItem">Request</a>
          </div>
          <div class="card-body">
            <div class="list-group list-group-flush">
              {% for req in all_requests %}
              <div class="list-group-item list-group-item-action" aria-current="true">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">{{ req.item_name|title }}</h5>
                  {% if req.request_by == request.user or request.user.is_superuser %}
                  <a href="{% url 'store:delete_request' req.pk %}" class="btn btn-outline-danger btn-sm float-end border-0">X</a>
                  {% endif %}
                </div>
                <p class="mb-1">{{req.message}} <small><b>by: {{req.request_by|title}}</b></small> </p>
                <small class="text-muted">Status: {% if req.is_noted %}Noted{% else %}Requested{% endif %}</small>
                {% if perms.store.update_itemrequest %}
                  {% if not req.is_noted %}
                  <form action="{% url 'store:request_status_update' req.pk %}" class="float-end" method="POST">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-outline-info btn-sm float-end border-0" value="Noted">
                  </form>
                  {% else %}
                  {% endif %}
                {% endif %}
              </div>
              {% endfor %}
            </div>
          </div>
      </div>
    </div>
    <div class="col-sm-9">
      
      <div class="card border-0 shadow-sm mt-3">
          <div class="p-3">
              <strong>Products</strong>
              {% if perms.store.add_product %}
              <a href="{% url 'store:add_product_view' %}" class="btn btn-outline-primary btn-sm float-end border-0 shadow-sm">Add product</a>
              {% endif %}
              <!-- <a href="" class="btn btn-outline-primary btn-sm float-end border-0 shadow-sm" data-bs-toggle="modal" data-bs-target="#addProduct">Add product</a> -->
          </div>
          <div class="card-body">
            <form action="">
              <div class="input-group mb-3">
                <input type="text" class="form-control" name="q" placeholder="Search product" aria-label="Recipient's username" aria-describedby="button-addon2">
                <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Search</button>
              </div>
            </form>
            <div class="row row-cols-1 row-cols-md-4 d-flex align-content-start flex-wrap g-3" data-masonry='{"percentPosition": true }'>
                {% for product in products %}
                <div class="col">
                  <div class="card">
                    {% if product.image %}
                    <img style="max-width: 100%; height: auto;" src="{{ product.image.url }}" class="card-img-top" alt="...">
                    {% endif %}
                    <div class="card-body d-flex flex-column">
                      <h5 class="card-title d-flex align-items-end">{{ product.name|title }}</h5>
                      <div class="row">
                        <div class="col-sm-6 mb-2">
                            <div class="card border-primary">
                                <div class="card-body p-1">
                                    {% if not product.quantity %}
                                    <small class="text-muted">Out of stock, stocking soon!</small>
                                    {% else %}
                                    <small>On stock:</small><br>
                                    <strong>{{ product.quantity }}</strong>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card border-info">
                                <div class="card-body p-1">
                                    <small>Price:</small><br>
                                    <strong>PHP {{ product.price }}</strong>
                                </div>
                            </div>
                        </div>
                      </div>
                    </div>
                    <div class="card-footer pt-1 pb-1">
                        {% if product.quantity %}
                        {% if request.user.is_authenticated %}
                          {% if perms.store.delete_product %}
                            <a href="{% url 'store:delete_product' product.pk %}" class="btn btn-outline-secondary btn-sm border-0 shadow-sm"><i class="fa-solid fa-trash-can"></i></a>
                          {% endif %}
                          {% if perms.store.update_product %}
                            <a href="{% url 'store:update_product' product.pk %}" class="btn btn-outline-secondary btn-sm border-0 shadow-sm"><i class="fa-solid fa-pen-to-square"></i></a>
                          {% endif %}
                        {% endif %}
                        <a href="{% url 'store:add_order' product.pk %}" class="btn btn-outline-info btn-sm float-end border-1 shadow-sm">Add to <i class="fa-solid fa-cart-plus"></i></a>
                        {% else %}
                        <div>
                            <a href="{% url 'store:delete_product' product.pk %}" class="btn btn-outline-secondary btn-sm border-0 shadow-sm"><i class="fa-solid fa-trash-can"></i></a>
                            <form action="{% url 'store:request_product_restock' product.pk%}" class="float-end" method="POST">
                              {% csrf_token %}
                              <input type="submit" class="btn btn-outline-info btn-sm border-0 shadow-sm" value="Request stock">
                            </form>
                        </div>
                        {% endif %}
                    </div>
                  </div>
                </div>
                {% endfor %}
            </div>
          </div>
      </div>

      <!-- <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">First</a>
                <a href="?page={{ page_obj.previous_page_number }}"><i class="fa-solid fa-chevron-left"></i></a>
            {% endif %}
    
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}"><i class="fa-solid fa-chevron-right"></i></a>
                <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
            {% endif %}
        </span>
      </div> -->
    </div>
</div>

<div class="row">
  <div class="col-sm-12">
      
  </div>
</div>

  
  <!-- Modal -->
<div class="modal fade" id="addProduct" tabindex="-1" aria-labelledby="addProductLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="addProductLabel">Add product</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="" method="POST">
        {% csrf_token %}
        <div class="modal-body">
          <div class="input-group mb-2">
            <input type="text" class="form-control" placeholder="Barcode" aria-label="bar code" aria-describedby="button-addon2" name="barcode">
            <a href="" class="btn btn-outline-secondary btn-sm" id="button-addon2" data-bs-toggle="modal" data-bs-target="#barcodeScanner"><i class="fa-solid fa-barcode"></i> Scan</a>
          </div>
            {{form.name}}
            {{form.cost}}
            {{form.price}}
            {{form.quantity}}
            {{form.category}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary border-0 shadow-sm" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-outline-primary border-0 shadow-sm">Add product</button>
        </div>
        </form>
      </div>
    </div>
</div>

<div class="modal fade" id="addCategory" tabindex="-1" aria-labelledby="addCategoryLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="addCategoryLabel">Add category</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="{% url 'store:add_category' %}" method="POST">
        {% csrf_token %}
        <div class="modal-body">
            <input type="text" class="form-control" name="categoryName" placeholder="Category name">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary border-0 shadow-sm" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-outline-primary border-0 shadow-sm">Add category</button>
        </div>
        </form>
      </div>
    </div>
</div>

<div class="modal fade" id="requestItem" tabindex="-1" aria-labelledby="requestItemLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="requestItemLabel">Request product form</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="{% url 'store:request_item' %}" method="POST">
      {% csrf_token %}
      <div class="modal-body">
        <input class="form-control mt-2" type="text" placeholder="Product name" name="itemName" required>
        <input class="form-control mt-2" type="text" placeholder="Notes" name="message">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary border-0 shadow-sm" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-outline-primary border-0 shadow-sm">Request</button>
      </div>
      </form>
    </div>
  </div>
</div>


{% endblock %}