{% extends 'base.html' %}

{% block content %}

<div class="row">
  <div class="col-sm-12 mt-3">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page"><a href="{% url 'store:product_view' %}">Products</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{title|title}}</li>
      </ol>
    </nav>
  </div>
</div>
  
<div class="row">
  <div class="col-sm-6">
      <div class="card border-0 shadow-sm mt-3">
        <div class="card-header">
            <strong>Products</strong>
        </div>
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
        <div class="card-body">
            <!-- <div class="input-group mb-2">
                <input id="barcode" type="text" class="form-control" placeholder="Barcode" aria-label="bar code" aria-describedby="button-addon2" name="barcode" required>
                <a href="" class="btn btn-outline-secondary btn-sm" id="button-addon2" data-bs-toggle="modal" data-bs-target="#barcodeScanner"><i class="fa-solid fa-barcode"></i> Scan</a>
            </div> -->
            <!-- {{form.bar_code}} -->
            {{form.name}}
            <!-- {{form.cost}} -->
            <!-- {{form.price}} -->
            <!-- {{form.quantity}} -->
            {{form.category}}
            {{form.image}}
        </div>
        <div class="card-footer">
            <input type="submit" class="btn btn-outline-primary btn-sm" value="Update Product">
        </div>
        </form>
      </div>
  </div>
</div>

{% endblock %}