{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="row">
  <div class="col-sm-12 mt-3">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page"><a href="{% url 'store:product_view' %}">Products</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{title|title}}</li>
      </ol>
    </nav>
  </div>
</div>
  
<div class="row">
  <div class="col-sm-6">
      <div class="card border-0 shadow-sm mt-3">
        <div class="card-header">
            <strong>Products</strong>
        </div>
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
        <div class="card-body">
            {{form.name|as_crispy_field}}
            {{form.category|as_crispy_field}}
            {{form.image|as_crispy_field}}
            {{form.on_display|as_crispy_field}}
        </div>
        <div class="card-footer">
            <input type="submit" class="btn btn-outline-primary btn-sm" value="Update Product">
        </div>
        </form>
      </div>
  </div>
  <div class="col-sm-2">
    <div class="card mt-3">
      <div class="card-body">
        {% if product.image %}
        <img style="width: 100%; height: auto;" src="{{ product.image.url }}" alt="">
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% endblock %}